@import 'compass/reset', 'compass/css3', 'compass/css3/transform', 'mixins', 'header', 'footer';

/*** Google Fonts import ***/
@import url(http://fonts.googleapis.com/css?family=Puritan:400,700,400italic,700italic|Alegreya+SC:400,400italic,700,700italic,900,900italic);

/**
 * Global Styles for Tucker-Maxon Theme
 * 
 * This sheet compiles all of the other styles for site wide sections (e.g. header and footer).
 * Site wide default styles are also defined in this sheet.
 * 
 * _compass/reset_ is a standard set of reset styles included with Compass
 * 
 * _compass/css3_ includes mixins for various css3 styles including gradients, rounded corners etc.
 * - Please see http://compass-style.org/reference/compass/css3/ for details on usage
 * 
 * _mixins_ will hold site wide variables and mixins for colors, type-faces and other styling
 * standards that are used across the entire site. Styles that are defined within the file
 * can be included in other scss sheets
 * 
 * _header_ contains styles for the site wide header.
 * 
 * _footer_ contains styles for the site wide footer.  
 * 
 */

*{
  background-repeat: no-repeat;
  position: relative;
}

html, body { width: 100%; }

body{
  background-color: $bg_color;
  color: $content_color;
  font-family: "Myriad Pro", arial, sans-serif;
  font-size: 16px;
  line-height: 150%;
  
  a { color: $content_color; }
  
  div.wrapper{
    margin: 0 auto;
    width: $content_width;
  }
  
}

h2, h3{ color: $tm_red; line-height: 150%; }
h2 { font-size: 1.875em; }
h3 { font-size: 1.125em; margin-bottom: 5px; }

a { color: $tm_red; text-decoration: none; }
