header{
  height:120px;
  margin: 1em auto 0px;
  position:relative;
  width: $content_width;
  
  a.logo{ float:left; }
  
  nav.global {
    bottom:-10px;
    position:absolute;
    right: 0px;
    
    ul{
      list-style-type:none;
      
      li{
        @include border-top-radius($default_border_radius);
        background-color:#d85045;
        float:left;
        margin-left: 0.5em;
        padding: 1em 2em 1.5em;
        
        a{
          @include single-text-shadow(#666, 1px, 1px);
          color: white;
          font-family: "Alegreya", "Times", serif;
          font-weight: bold;
          font-size: 18px;
          text-decoration: none;
        }
      }
    }// End Nav ul styles
  } // End Global Nav Styles
  
  nav.secondary{
    line-height: 2em;
    position: absolute;
    right: -15px;
    text-transform: uppercase;
    ul{
      li{
        float: left;
        margin-right: 1.5em;
        a{
          color: $electric_blue;
          font-family: "Alegreya";
          font-weight:bold;
          text-decoration: none;
          
          &:hover { text-decoration: underline; }
        }
      }
    }
  } // End Secondary Nav styles
}