
header{
  height:120px;
  margin: 0 auto;
  position:relative;
  width: $content_width;
  
  a.logo{ float:left; }
  
  nav{
    bottom:0px;
    position:absolute;
    right:50px;
    
    ul{
      list-style-type:none;
      
      li{
        float:left;
        margin-right:20px;
      }
    }// End Nav ul styles
  } // End Nav Styles
}