$content_width: 960px;
$column_width: 307px;
$column_margin: 10px;

$default_border_radius: 10px;

// Define site wide color scheme
$bg_color: #FFF;
$heading_color: #436199;
$tm_red: #e53728;
$content_color: #4c5a5e;
$footer_bg_color: #fefbf2;

