aside.sidebar {
  float: left;
  margin-right: $gutter_width;
  width: $column_width;
  
  ul{
    list-style-image: url('../images/star.png');
    list-style-position: inside;
    
    li{
      font: bold 1em "Myriad Pro", Arial, sans-serif;
      
      a:hover{
        color: #5a97dc;
      }
    }
  }
  
  img.hero {
    @include border-radius($default_border_radius);
    margin: 10px 0px
  };
}
