@import 'global', 'sidebar', 'footer';

header {
  padding-bottom: 1em;
}
div.wrapper{
  border-top: 1px solid $tm_red;
  padding-top: 1em;
}

/*-----------------Brandon Gerke InnerPage--------------- */

div.content {
  float: right;
  width: 620px;
  section{
    width: 620px;
    margin:0 auto;
  }

  ul{
    list-style-type:disc;
    padding:10px;
    li{
      padding:5px;
    }
  }
  
  h2{
    color: $heading_color;
    font-family: "Alegreya", Times, serif;
    font-weight: bold;
  }
  h4{
    font-family: "Alegreya", Times, serif;
    font-size: 24px;
    color: $tm_red;
    padding:10px 0px 10px 0px;
  }
  
  article{
    padding:10px 0px 10px 0px;
  }
  
  p{
    padding:10px 20px 10px 0px;
  }
}
/*------------------END Brandon Gerke------------------------*/