@import 'global';

div.wrapper {
  clear:both;
  height:auto;
  margin:0 auto;
  width: $content_width;
  
  @include border-top-radius($default_border_radius);
  
  #slideshow {
      @include border-radius($default_border_radius);
      width:auto;
      height:350px;
      background-color:#ccc;
      border:solid 3px white;
      
      &::after, &::before {
          @include border-radius(50%);
          border: 2px solid white;
          background: url(../images/arrow.png) 50% 50% yellow no-repeat;
          content: "";
          height: 55px;
          position: absolute;
          top: 40%;
          width: 55px;
      }
      &::after{
        right: -35px;
      }
      &::before{
        @include rotate(180deg);
        left: -30px;
      }
      
      hgroup {
        width:250px;
        height:auto;
        padding:20px;
        background-color: $bg_color;
        border:solid 1px black;
        
        h2{ font-size:60px; }
    }
  } // End of slideshow styles

  section.home.group {
    padding: 30px 0 85px;

    h2 {
      font-family: 'Alegreya SC', Times, serif;
      font-weight: 600;
      line-height: 150%;
    }

    a.learn-more {
      background: url('images/more_sprite.png') right -26px no-repeat;
      color: #e53728;
      float: right;
      margin-top: 12px;
      padding-right: 25px;
      text-decoration: none;
    }
    a.learn-more:hover {
      background:url('images/more_sprite.png') right 1px no-repeat;
    }

    div.mission {
      float: left;
      padding: 0 30px;
      width: $column_width*2 - 30;

      h2 {
        color: #436199;
        font-size: 30px;
      }
    }

    div.events {
      float: right;
      margin-top: 10px;
      padding-left: 30px;
      width: 270px;

      h2 {
        color: #E53728;
        font-size: 18px;
        margin-bottom: 5px;
      }
    }
  }

  section#schoolFeature {
    margin: 0 30px;
    @include clearfix;
  }

  div.gradeLevel {
    @include border-radius(10px);
    position: relative;
    width: 280px;
    height:250px;
    float:left;
    background-color:#ccc;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    h2 {
      font-size:24px;
      position: absolute;
      bottom: 0px;
      text-align:center;
      width:100%;
    } 
  } // End of content(div boxes) styles
}
