@import 'global';

div.content {
  clear:both;
  height:auto;
  margin:auto;
  width: $content_width;
  
  #slideshow {
      width:auto;
      height:350px;
      background-color:#ccc;
      
      border:solid 1px black;
      
      hgroup {
        width:250px;
        height:auto;
        padding:20px;
        background-color: $bg_color;
        border:solid 1px black;
        
        h2{ font-size:60px; }
    }
  } // End of slideshow styles
}

div.content p.mission {
  width:625px;
  height:250px;
  float:left;
  
  border:solid 1px black;
}

div.content div.events {
  border:solid 1px black;
  float:right;
  height:250px;
  width:315px;
}

div.content div.gradeLevel {
  position: relative;
  width: ($content_width / 3) - 3;
  height:250px;
  float:left;
  background-color:#ccc;
  
  border:solid 1px black;
  
}

div.content .gradeLevel h2 {
  font-size:24px;
  position: absolute;
  bottom: 0px;
  text-align:center;
  width:100%;
}