/* line 17, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, scss/_header.scss */
header {
  height: 120px;
  margin: 0 auto;
  position: relative;
  width: 960px;
}
/* line 8, scss/_header.scss */
header a.logo {
  float: left;
}
/* line 10, scss/_header.scss */
header nav {
  bottom: 0px;
  position: absolute;
  right: 50px;
}
/* line 15, scss/_header.scss */
header nav ul {
  list-style-type: none;
}
/* line 18, scss/_header.scss */
header nav ul li {
  float: left;
  margin-right: 20px;
}

/* line 2, scss/_footer.scss */
footer {
  border: 1px solid black;
  clear: both;
  margin: 0 auto;
  width: 960px;
}
/* line 9, scss/_footer.scss */
footer nav.tertiary ul {
  float: left;
  width: 240px;
}
/* line 13, scss/_footer.scss */
footer nav.tertiary ul.column {
  clear: both;
}

/**
 * Global Styles for Tucker-Maxon Theme
 * 
 * _compass/reset_ is a standard set of reset styles included with Compass
 * 
 * _compass/css3_ includes mixins for various css3 styles including gradients, rounded corners etc.
 * - Please see http://compass-style.org/reference/compass/css3/ for details on usage
 * 
 * _mixins_ will hold site wide variables and mixins for colors, type-faces and other styling
 * standards that are used across the entire site. Styles that are defined within the file
 * can be included in other scss sheets
 * 
 * _header_ contains styles for the site wide header.
 * 
 * _footer_ contains styles for the site wide footer.  
 * 
 */
/* line 21, scss/_global.scss */
html, body {
  width: 100%;
}

/* line 23, scss/_global.scss */
body {
  background-color: white;
}

/* line 3, scss/main.scss */
div.content {
  clear: both;
  height: auto;
  margin: auto;
  width: 960px;
}
/* line 9, scss/main.scss */
div.content #slideshow {
  width: auto;
  height: 350px;
  background-color: #ccc;
  border: solid 1px black;
}
/* line 16, scss/main.scss */
div.content #slideshow hgroup {
  width: 250px;
  height: auto;
  padding: 20px;
  background-color: white;
  border: solid 1px black;
}
/* line 23, scss/main.scss */
div.content #slideshow hgroup h2 {
  font-size: 60px;
}

/* line 28, scss/main.scss */
div.content p.mission {
  width: 625px;
  height: 250px;
  float: left;
  border: solid 1px black;
}

/* line 36, scss/main.scss */
div.content div.events {
  border: solid 1px black;
  float: right;
  height: 250px;
  width: 315px;
}

/* line 43, scss/main.scss */
div.content div.gradeLevel {
  position: relative;
  width: 317px;
  height: 250px;
  float: left;
  background-color: #ccc;
  border: solid 1px black;
}

/* line 54, scss/main.scss */
div.content .gradeLevel h2 {
  font-size: 24px;
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
}
