/*** Google Fonts import ***/
@import url("http://fonts.googleapis.com/css?family=Puritan:400,700,400italic,700italic|Alegreya+SC:400,400italic,700,700italic,900,900italic");
/* line 17, ../../../../../../../../Users/ng/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../Users/ng/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../Users/ng/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../Users/ng/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../Users/ng/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../Users/ng/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../Users/ng/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../Users/ng/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../Users/ng/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, scss/_header.scss */
header {
  height: 120px;
  margin: 1em auto 0px;
  padding-bottom: 1em;
  position: relative;
  width: 960px;
}
/* line 8, scss/_header.scss */
header a.logo {
  float: left;
}
/* line 10, scss/_header.scss */
header nav.global {
  bottom: -18px;
  position: absolute;
  right: 2px;
}
/* line 15, scss/_header.scss */
header nav.global ul {
  list-style-type: none;
}
/* line 18, scss/_header.scss */
header nav.global ul li {
  float: left;
}
/* line 20, scss/_header.scss */
header nav.global ul li a {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -khtml-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  text-shadow: #ad0e00 1px 1px 1px;
  -moz-transition-property: top;
  -webkit-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -moz-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  background-color: #d85045;
  color: white;
  display: block;
  float: left;
  font-family: "Alegreya SC", "Times", serif;
  font-weight: bold;
  font-size: 18px;
  margin-left: 0.5em;
  padding: 0.7em 2em 1.6em;
  text-decoration: none;
  top: 0;
}
/* line 36, scss/_header.scss */
header nav.global ul li a:hover {
  background-color: #e84c3f;
  top: -5px;
}
/* line 45, scss/_header.scss */
header nav.secondary {
  line-height: 2em;
  position: absolute;
  right: -15px;
  text-transform: uppercase;
}
/* line 51, scss/_header.scss */
header nav.secondary ul li {
  float: left;
  margin-right: 1.5em;
}
/* line 54, scss/_header.scss */
header nav.secondary ul li a {
  color: #043276;
  font-family: "Alegreya SC";
  font-weight: bold;
  text-decoration: none;
}
/* line 60, scss/_header.scss */
header nav.secondary ul li a:hover {
  text-decoration: underline;
  color: #0751c0;
}

/* line 2, scss/_footer.scss */
footer {
  clear: both;
  margin: 0 auto;
  width: 960px;
}
/* line 7, scss/_footer.scss */
footer section.top {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -khtml-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fefbf2;
}
/* line 21, scss/_mixins.scss */
footer section.top:before, footer section.top:after {
  content: "";
  display: table;
}
/* line 25, scss/_mixins.scss */
footer section.top:after {
  clear: both;
}
/* line 12, scss/_footer.scss */
footer section.top nav.tertiary {
  float: left;
  overflow: auto;
}
/* line 16, scss/_footer.scss */
footer section.top nav.tertiary div.column {
  float: left;
  margin-left: 1em;
}
/* line 20, scss/_footer.scss */
footer section.top nav.tertiary div.column ul {
  width: 192px;
}
/* line 23, scss/_footer.scss */
footer section.top nav.tertiary div.column ul li:not(.heading) a {
  text-decoration: none;
}
/* line 26, scss/_footer.scss */
footer section.top nav.tertiary div.column ul li:not(.heading) a:hover {
  text-decoration: underline;
}
/* line 29, scss/_footer.scss */
footer section.top nav.tertiary div.column ul li.heading {
  font-family: 'Alegreya', serif;
  font-weight: bold;
  margin: 1em 0;
}
/* line 34, scss/_footer.scss */
footer section.top nav.tertiary div.column ul li.heading a {
  color: #436199;
  font-size: 1.222222em;
}
/* line 38, scss/_footer.scss */
footer section.top nav.tertiary div.column ul li.heading a:hover {
  text-decoration: underline;
  color: #5979b6;
}
/* line 47, scss/_footer.scss */
footer section.top nav.tertiary div.column ul.social li.social_link a {
  background-image: url(../images/social_sprite.jpg);
  display: block;
  height: 28px;
  float: left;
  margin-right: 1em;
  text-indent: -9999em;
  width: 28px;
}
/* line 56, scss/_footer.scss */
footer section.top nav.tertiary div.column ul.social li.social_link a:hover {
  border: 1px solid rgba(229, 55, 40, 0.8);
  left: -1px;
  top: -1px;
}
/* line 62, scss/_footer.scss */
footer section.top nav.tertiary div.column ul.social li.social_link:nth-child(3) a {
  background-position: -56px 0;
}
/* line 68, scss/_footer.scss */
footer section.top div.locate {
  float: right;
  padding-top: 50px;
  text-align: center;
  width: 300px;
}
/* line 74, scss/_footer.scss */
footer section.top div.locate #donate {
  background: #E43728;
  color: white;
  font-size: 18px;
  padding: 9px 15px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 81, scss/_footer.scss */
footer section.top div.locate #donate:hover {
  background: #ff4734;
}
/* line 86, scss/_footer.scss */
footer section.top div.locate section.address {
  padding-top: 35px;
}
/* line 89, scss/_footer.scss */
footer section.top div.locate section.address h3 {
  color: #e53728;
  font-family: "Alegreya SC Black";
  font-size: 1.2222222em;
  margin: 1em 0;
}
/* line 102, scss/_footer.scss */
footer p.tagline {
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -khtml-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #e53728;
  clear: both;
  color: white;
  font-family: "Alegreya SC", serif;
  font-weight: bold;
  font-size: 1.22222em;
  height: 35px;
  padding: 10px 0 0 30px;
  width: 930px;
}
/* line 115, scss/_footer.scss */
footer p.copy {
  color: #e53728;
  font-size: 12px;
  text-indent: 2em;
  padding: 5px 0 30px 0;
}

/**
 * Global Styles for Tucker-Maxon Theme
 * 
 * This sheet compiles all of the other styles for site wide sections (e.g. header and footer).
 * Site wide default styles are also defined in this sheet.
 * 
 * _compass/reset_ is a standard set of reset styles included with Compass
 * 
 * _compass/css3_ includes mixins for various css3 styles including gradients, rounded corners etc.
 * - Please see http://compass-style.org/reference/compass/css3/ for details on usage
 * 
 * _mixins_ will hold site wide variables and mixins for colors, type-faces and other styling
 * standards that are used across the entire site. Styles that are defined within the file
 * can be included in other scss sheets
 * 
 * _header_ contains styles for the site wide header.
 * 
 * _footer_ contains styles for the site wide footer.  
 * 
 */
/* line 27, scss/_global.scss */
* {
  background-repeat: no-repeat;
  position: relative;
}

/* line 32, scss/_global.scss */
html, body {
  width: 100%;
}

/* line 34, scss/_global.scss */
body {
  background-color: #fefefe;
  color: #4c5a5e;
  font-family: "Myriad Pro", arial, sans-serif;
  font-size: 16px;
  line-height: 150%;
}
/* line 41, scss/_global.scss */
body a {
  color: #4c5a5e;
}
/* line 43, scss/_global.scss */
body div.wrapper {
  background: #fefefe;
  clear: both;
  margin: 0 auto;
  padding-bottom: 100px;
  width: 960px;
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
/* line 21, scss/_mixins.scss */
body div.wrapper:before, body div.wrapper:after {
  content: "";
  display: table;
}
/* line 25, scss/_mixins.scss */
body div.wrapper:after {
  clear: both;
}

/* line 57, scss/_global.scss */
h2, h3 {
  color: #e53728;
  line-height: 150%;
}

/* line 58, scss/_global.scss */
h2 {
  font-size: 1.875em;
}

/* line 59, scss/_global.scss */
h3 {
  font-size: 1.125em;
  margin-bottom: 5px;
}

/* line 61, scss/_global.scss */
a {
  color: #e53728;
  text-decoration: none;
}

/* line 63, scss/_global.scss */
.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
/* line 21, scss/_mixins.scss */
.group:before, .group:after {
  content: "";
  display: table;
}
/* line 25, scss/_mixins.scss */
.group:after {
  clear: both;
}

/* line 3, scss/main.scss */
div.wrapper {
  clear: both;
  height: auto;
  margin: 0 auto;
  width: 960px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -khtml-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
/* line 11, scss/main.scss */
div.wrapper #gallery-cycle-slideshow {
  margin-left: -3px;
  border: 3px solid #fff;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  -khtml-border-radius: 30px;
  border-radius: 30px;
}
/* line 17, scss/main.scss */
div.wrapper #slideshow {
  width: auto;
  height: 350px;
  background-color: #ccc;
  border: solid 3px white;
}
/* line 23, scss/main.scss */
div.wrapper #slideshow hgroup {
  width: 250px;
  height: auto;
  padding: 20px;
  background-color: #fefefe;
  border: solid 1px black;
}
/* line 30, scss/main.scss */
div.wrapper #slideshow hgroup h2 {
  font-size: 60px;
}
/* line 37, scss/main.scss */
div.wrapper .gallery-cycle a {
  outline: none;
}
/* line 40, scss/main.scss */
div.wrapper .gallery-cycle .gallery-container {
  margin: 0;
  padding: 0;
  border: 0 none;
  overflow: hidden;
  position: relative;
  width: 958px;
}
/* line 49, scss/main.scss */
div.wrapper .gallery-cycle .gallery-text {
  margin: 0;
  padding: 10px;
  border: 0 none;
  background-color: white;
  overflow: hidden;
}
/* line 56, scss/main.scss */
div.wrapper .gallery-cycle .gallery-image {
  margin: 0;
  padding: 0;
  border: 0 none;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 66, scss/main.scss */
div.wrapper .gallery-cycle .gallery-image img {
  margin: 0;
  padding: 0;
  border: 0 none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 73, scss/main.scss */
div.wrapper .gallery-cycle .gallery-control {
  position: absolute;
  margin: 0;
  padding: 5px 10px;
  border: 0 none;
  z-index: 10000;
}
/* line 80, scss/main.scss */
div.wrapper .gallery-cycle .gallery-control-dots a {
  font-size: 40px;
  border: 0 none;
  text-decoration: none;
  color: #999999;
}
/* line 86, scss/main.scss */
div.wrapper .gallery-cycle .gallery-control-numbers a {
  font-size: 18px;
  border: 0 none;
  text-decoration: none;
  color: #999999;
  padding: 0px 5px;
  margin: 0px 2px;
  border: 1px solid #999999;
  background-color: white;
}
/* line 96, scss/main.scss */
div.wrapper .gallery-cycle .gallery-control-images a {
  background: url(../../plugins/i18n_gallery/images/cycle/pagination.png);
  width: 12px;
  height: 0px;
  overflow: hidden;
  padding-top: 12px;
  margin: 10px 2px;
  border: 0 none;
  display: block;
  float: left;
}
/* line 107, scss/main.scss */
div.wrapper .gallery-cycle .gallery-control a:hover {
  color: #666666;
}
/* line 110, scss/main.scss */
div.wrapper .gallery-cycle .gallery-control a.activeSlide {
  color: #C5400E;
  background-position: 0 -12px;
}
/* line 114, scss/main.scss */
div.wrapper .gallery-cycle .prev {
  top: 0;
  left: -30px;
  height: 100%;
  width: 35%;
  cursor: pointer;
  position: absolute;
  z-index: 9000;
}
/* line 123, scss/main.scss */
div.wrapper .gallery-cycle .prev img {
  left: 0px;
  margin-top: -30px;
  position: absolute;
  top: 50%;
  /*display: none;*/
}
/* line 130, scss/main.scss */
div.wrapper .gallery-cycle .next {
  top: 0;
  right: -30px;
  height: 100%;
  width: 35%;
  cursor: pointer;
  position: absolute;
  z-index: 9000;
}
/* line 139, scss/main.scss */
div.wrapper .gallery-cycle .next img {
  right: 0px;
  margin-top: -30px;
  position: absolute;
  top: 50%;
}
/* line 145, scss/main.scss */
div.wrapper .gallery-cycle .prev:hover img, div.wrapper .gallery-cycle .next:hover img {
  display: block;
}
/* line 149, scss/main.scss */
div.wrapper section.home.group {
  padding: 30px 0 85px;
}
/* line 152, scss/main.scss */
div.wrapper section.home.group h2 {
  font-family: 'Alegreya SC', Times, serif;
  font-weight: 600;
  line-height: 150%;
}
/* line 158, scss/main.scss */
div.wrapper section.home.group a.learn-more {
  background: url("../images/more_sprite.png") right -26px no-repeat;
  color: #e53728;
  float: right;
  margin-top: 12px;
  padding-right: 25px;
  text-decoration: none;
}
/* line 166, scss/main.scss */
div.wrapper section.home.group a.learn-more:hover {
  background: url("../images/more_sprite.png") right 1px no-repeat;
}
/* line 170, scss/main.scss */
div.wrapper section.home.group div.mission {
  float: left;
  padding: 0 30px;
  width: 570px;
}
/* line 175, scss/main.scss */
div.wrapper section.home.group div.mission h2 {
  color: #436199;
  font-size: 30px;
  padding-bottom: 10px;
}
/* line 182, scss/main.scss */
div.wrapper section.home.group div.events {
  float: right;
  margin-top: 10px;
  padding-left: 30px;
  width: 270px;
}
/* line 188, scss/main.scss */
div.wrapper section.home.group div.events h2 {
  color: #E53728;
  font-size: 18px;
  margin-bottom: 5px;
  padding-bottom: 10px;
}
/* line 197, scss/main.scss */
div.wrapper section#schoolFeature {
  margin: 0 30px;
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
/* line 21, scss/_mixins.scss */
div.wrapper section#schoolFeature:before, div.wrapper section#schoolFeature:after {
  content: "";
  display: table;
}
/* line 25, scss/_mixins.scss */
div.wrapper section#schoolFeature:after {
  clear: both;
}
/* line 202, scss/main.scss */
div.wrapper div.gradeLevel {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  width: 280px;
  height: 220px;
  float: left;
  background-color: #ccc;
  margin-right: 30px;
}
/* line 211, scss/main.scss */
div.wrapper div.gradeLevel:last-child {
  margin-right: 0;
}
/* line 215, scss/main.scss */
div.wrapper div.gradeLevel#preschool {
  background: url(../images/home/preschool.jpg) 0 0 no-repeat;
}
/* line 216, scss/main.scss */
div.wrapper div.gradeLevel#kindergarten {
  background: url(../images/home/kindergarten.jpg) 0 0 no-repeat;
}
/* line 217, scss/main.scss */
div.wrapper div.gradeLevel#elementary {
  background: url(../images/home/elementary.jpg) 0 0 no-repeat;
}
/* line 219, scss/main.scss */
div.wrapper div.gradeLevel h1 {
  color: #436199;
  font-family: 'Alegreya SC', Times, serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  bottom: -30px;
  text-align: center;
  width: 100%;
}
