/* line 17, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, scss/_header.scss */
header {
  height: 120px;
  margin: 1em auto 0px;
  position: relative;
  width: 960px;
}
/* line 7, scss/_header.scss */
header a.logo {
  float: left;
}
/* line 9, scss/_header.scss */
header nav.global {
  bottom: -10px;
  position: absolute;
  right: 0px;
}
/* line 14, scss/_header.scss */
header nav.global ul {
  list-style-type: none;
}
/* line 17, scss/_header.scss */
header nav.global ul li {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -khtml-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #d85045;
  float: left;
  margin-left: 0.5em;
  padding: 1em 2em 1.5em;
}
/* line 24, scss/_header.scss */
header nav.global ul li a {
  text-shadow: #666666 1px 1px 1px;
  color: white;
  font-family: "Alegreya", "Times", serif;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}
/* line 36, scss/_header.scss */
header nav.secondary {
  line-height: 2em;
  position: absolute;
  right: -15px;
  text-transform: uppercase;
}
/* line 42, scss/_header.scss */
header nav.secondary ul li {
  float: left;
  margin-right: 1.5em;
}
/* line 45, scss/_header.scss */
header nav.secondary ul li a {
  color: #043276;
  font-family: "Alegreya";
  font-weight: bold;
  text-decoration: none;
}
/* line 51, scss/_header.scss */
header nav.secondary ul li a:hover {
  text-decoration: underline;
}

/* line 2, scss/_footer.scss */
footer {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -khtml-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fefbf2;
  clear: both;
  margin: 0 auto;
  width: 960px;
}
/* line 9, scss/_footer.scss */
footer nav.tertiary {
  float: left;
  overflow: auto;
}
/* line 13, scss/_footer.scss */
footer nav.tertiary div.column {
  float: left;
  margin-left: 1em;
}
/* line 17, scss/_footer.scss */
footer nav.tertiary div.column ul {
  width: 192px;
}
/* line 20, scss/_footer.scss */
footer nav.tertiary div.column ul li:not(.heading) a {
  text-decoration: none;
}
/* line 22, scss/_footer.scss */
footer nav.tertiary div.column ul li.heading {
  font-family: 'Alegreya', serif;
  font-weight: bold;
  margin: 1em 0;
}
/* line 27, scss/_footer.scss */
footer nav.tertiary div.column ul li.heading a {
  color: #436199;
  font-size: 1.222222em;
}
/* line 35, scss/_footer.scss */
footer nav.tertiary div.column ul.social li.social_link a {
  background-image: url(../images/social_sprite.jpg);
  display: block;
  height: 28px;
  float: left;
  margin-right: 1em;
  text-indent: -9999em;
  width: 28px;
}
/* line 44, scss/_footer.scss */
footer nav.tertiary div.column ul.social li.social_link:nth-child(3) a {
  background-position: -28px 0;
}
/* line 45, scss/_footer.scss */
footer nav.tertiary div.column ul.social li.social_link:nth-child(4) a {
  background-position: -56px 0;
}
/* line 51, scss/_footer.scss */
footer div.locate {
  float: right;
  text-align: center;
  width: 300px;
}
/* line 58, scss/_footer.scss */
footer div.locate section.address h3 {
  color: #e53728;
  font-family: "Alegreya Black";
  font-size: 1.2222222em;
  margin: 1em 0;
}
/* line 70, scss/_footer.scss */
footer p.tagline {
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -khtml-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #e53728;
  clear: both;
  color: white;
  font-family: "Alegreya", serif;
  font-weight: bold;
  font-size: 1.22222em;
  height: 35px;
  padding: 20px 0 0 30px;
  width: 930px;
}
/* line 83, scss/_footer.scss */
footer p.copy {
  color: #e53728;
  text-indent: 2em;
}

/*** Google Fonts import ***/
@import url(http://fonts.googleapis.com/css?family=Puritan:400,700,400italic,700italic|Alegreya+SC:400,400italic,700,700italic,900,900italic);
/**
 * Global Styles for Tucker-Maxon Theme
 * 
 * This sheet compiles all of the other styles for site wide sections (e.g. header and footer).
 * Site wide default styles are also defined in this sheet.
 * 
 * _compass/reset_ is a standard set of reset styles included with Compass
 * 
 * _compass/css3_ includes mixins for various css3 styles including gradients, rounded corners etc.
 * - Please see http://compass-style.org/reference/compass/css3/ for details on usage
 * 
 * _mixins_ will hold site wide variables and mixins for colors, type-faces and other styling
 * standards that are used across the entire site. Styles that are defined within the file
 * can be included in other scss sheets
 * 
 * _header_ contains styles for the site wide header.
 * 
 * _footer_ contains styles for the site wide footer.  
 * 
 */
/* line 27, scss/_global.scss */
* {
  background-repeat: no-repeat;
  position: relative;
}

/* line 32, scss/_global.scss */
html, body {
  width: 100%;
}

/* line 34, scss/_global.scss */
body {
  background-color: white;
  color: #4c5a5e;
  font-family: "Myriad Pro", arial, sans-serif;
  font-size: 16px;
  line-height: 150%;
}
/* line 41, scss/_global.scss */
body a {
  color: #4c5a5e;
}
/* line 43, scss/_global.scss */
body div.wrapper {
  clear: both;
  margin: 0 auto;
  width: 960px;
}

/* line 51, scss/_global.scss */
h2, h3 {
  color: #e53728;
  line-height: 150%;
}

/* line 52, scss/_global.scss */
h2 {
  font-size: 1.875em;
}

/* line 53, scss/_global.scss */
h3 {
  font-size: 1.125em;
  margin-bottom: 5px;
}

/* line 55, scss/_global.scss */
a {
  color: #e53728;
  text-decoration: none;
}

/* line 3, scss/main.scss */
div.wrapper {
  clear: both;
  height: auto;
  margin: auto;
  width: 960px;
}
/* line 9, scss/main.scss */
div.wrapper #slideshow {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  width: auto;
  height: 350px;
  background-color: #ccc;
  border: solid 3px white;
}
/* line 16, scss/main.scss */
div.wrapper #slideshow::after, div.wrapper #slideshow::before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid white;
  background: url(../images/arrow.png) 50% 50% yellow no-repeat;
  content: "";
  height: 55px;
  position: absolute;
  top: 50%;
  width: 55px;
}
/* line 26, scss/main.scss */
div.wrapper #slideshow::after {
  right: -35px;
}
/* line 29, scss/main.scss */
div.wrapper #slideshow::before {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  left: -30px;
}
/* line 34, scss/main.scss */
div.wrapper #slideshow hgroup {
  width: 250px;
  height: auto;
  padding: 20px;
  background-color: white;
  border: solid 1px black;
}
/* line 41, scss/main.scss */
div.wrapper #slideshow hgroup h2 {
  font-size: 60px;
}
/* line 45, scss/main.scss */
div.wrapper div.mission {
  height: 250px;
  float: left;
  padding: 1em;
  margin-right: 10px;
  width: 600px;
  border: solid 1px black;
}
/* line 55, scss/main.scss */
div.wrapper div.events {
  border: solid 1px black;
  float: right;
  height: 250px;
  width: 300px;
}
/* line 62, scss/main.scss */
div.wrapper div.gradeLevel {
  position: relative;
  width: 317px;
  height: 250px;
  float: left;
  background-color: #ccc;
  border: solid 1px black;
}
/* line 71, scss/main.scss */
div.wrapper div.gradeLevel h2 {
  font-size: 24px;
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
}
